header {
  background-color: #5ea4a4;
  background-image: url('../images/bg-header-desktop.svg');
  height: 156px;
}

main {
  width: 80%;
  margin: auto;
  margin-top: 4.7rem;
  margin-bottom: 7.5rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}
